<h1><%= @task.name %></h1>

<%= @task.description %>

<% if @task.groups.present? %>
  <h2>Groups</h2>

  <ul>
    <% for group in @task.groups %>
      <li><%= link_to group.name, group %></li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "All tasks", tasks_path %></p>

<%= form_for @task, :method => "delete" do |f| %>
  <p><%= f.submit "Delete" %></p>
<% end %>
